<!DOCTYPE html>
<html lang="en">
{% load static %}
{% csrf_token %}
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"> </script> 
	<script type="text/javascript" src="{% static '/js/login.js' %}"> </script> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>

<body>


<div class="container">

    <div class="main-block" id="entry_form_div">
      <form action="/" id="entry_form" method="post">
        <h2>Add Invoice Entry</h2>
        <div id="err_message" style="color: #eb1313"></div>
        <div class="info" id="field_list">
          <p> <input class="form_field" type="text" id="name" placeholder="Client Name *"> <span id="client_error" class="error_msg" style="color: red;" >**Mandatoy Field</span> </p>
          <p> <input class="form_field" type="email" id="email" placeholder="Client e-mail *"> <span id="email_error" class="error_msg" style="color: red;" >**Mandatoy Field</span></p>
          <p> <input class="form_field" type="text" id="inv_no" placeholder="Invoice No. *"> <span id="invoice_error" class="error_msg" style="color: red;" >**Mandatoy Field</span></p>
          <p> <input class="form_field" type="text" id="project" placeholder="Project Name *"> <span id="project_error" class="error_msg" style="color: red;" >**Mandatoy Field</span></p>
          <p> <input class="form_field" type="number" step="0.01" min=0 name="name" id="amount" placeholder="Amount *"> <span id="amount_error" class="error_msg" style="color: red;" >**Mandatoy Field</span></p>
        </div>
        <button type="submit" href="/" id="submit_btn">Submit</button>
        <button type="button" href="/" id="cancel_btn">Cancel</button>
      </form>
    </div>
    
    <div id="list_table">
	    <h2>Invoice Entries</h2>
	    <div>
	        <button type="button" id="add_btn"> Add new entry </button>
	    </div>
	    <div style= "height:50px" ></div>
	    <div class="table_list"> 	
	    	<table style="width: 70%; text-align: center">
	    		<tr>
			  		<th>Client</th>
			  		<th>Email</th>
			  		<th>Invoice No.</th>
			  		<th>Project</th>
			  		<th>Amount</th>
			  		<th>Payment Link</th>
			  	</tr>
			  {% for d in data %}
			  	<tr>
			  		<td>{{ d.client_name }}</td>
			  		<td>{{ d.client_email }}</td>
			  		<td>{{ d.invoice_number }}</td>
			  		<td>{{ d.project_name }}</td>
			  		<td>Rs. {{ d.amount_charged }}</td>
			  		<td>{{ d.short_link }}</td>
			  	</tr>
			  {% endfor %}
			</table>
	    </div>
	</div>


</div>
<!-- <div style="height:100px;"></div>
<div>
	<button type="button" id="logout"> Logout </button>
</div> -->

</body>

</html>